.academy__title {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 19px;
  padding: 22px 0;
}

.academy__image {
  width: 27px;
  height: 34px;
  margin-top: 32px;
  background-image: url("../img/academy.svg");
  background-repeat: no-repeat;
}

// почему-то иконку академии не видно
