.academy__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-right: 113px;
}

.academy__image {
  display: flex;
  margin: 0;
  text-decoration: none;
  justify-content: space-between;
  color: inherit;
  cursor: pointer;
  fill: #666666;

  &:hover {
    fill: @button-color;
  }

  &:active {
    fill: @button-color;
    opacity: 0.3;
  }
}

.academy__icon {
  margin-top: -7px;
}

@media (min-width: @tablet-width) {
  .academy__title {
    padding: 24px 1px;
  }
}

@media (min-width: @tablet-width) and (max-width: (@desctop-width - 1)) {
  .academy__icon {
    margin-top: 7px;
    margin-left: 11px;
  }

  .academy__image {
    display: flex;
    margin-top: 0;
  }

  .academy__title {
    margin-right: 0;
    padding: 14px 11px 23px 0;
  }
}

@media (min-width: @desctop-width) {
  .academy__title {
    margin-right: 24px;
    padding: 0;
  }

  .academy__image {
    display: flex;
    margin-top: 14px;
    margin-right: 11px;
  }

  .academy__icon {
    margin-top: -6px;
  }
}
