.advantages__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin-left: 20px;
}

.advantages__list {
  list-style: none;
}
