.button {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-decoration: none;
}

.button--order {
  padding: 10px 94px;
  background-color: @button-color;
  color: @base-color;
}

.extra__item  .button--order {
  margin: 0;
}

.button--form {
  padding: 10px 94px;
  background-color: @button-color;
  color: @base-color;
}

.button--show-more {
  background-color: @focus-color;
}

.button--main {
  background-color: @button-color;
  color: @base-color;
}

@media (min-width: @tablet-width) {

  .button--order {
    margin-bottom: 39px;
    margin-left: 17px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px 84px;
  }
}
