.card-table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @table-text-color;
  order: 4;
  margin-left: 143px;
}

.card-table__weight {
  margin-right: 3px;
}

.card-table__row {
  display: flex;
  justify-content: space-between;
  min-width: 141px;
  padding-top: 1px;
  padding-bottom: 1px;
}

@media (max-width: @mobile-width-only) {
  .card-table {
    margin-bottom: 31px;
    margin-left: 140px;
  }

  .card-table__row {
    min-width: 141px;
    margin-top: -2px;
  }
}

@media (min-width: @tablet-width) {
  .card-table__row {
    border-bottom: 1px solid #cdcdcd;
    z-index: 1;
    padding: 8px 0;
  }

  .card-table {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desctop-width) {
  .card-table__row {
    max-width: 168px;
    padding: 8px 0 7px;
  }
}
