.catalog-card__wrapper {
  margin: 13px 15px;
}

.catalog-card__title {
  color: @catalog-card-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 98px;
  margin: 0;
  font-weight: 400;
  order: 1;
}

.catalog-card__wrapper-inner {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 41px;
  row-gap: 18px;
  margin-bottom: -10px;
}

.catalog-card__image {
  grid-row-start: 1;
  grid-row-end: 3;
  order: 0;
}

@media (max-width: @mobile-width-only) {
  .catalog-card__image {
    margin: 11px 0 0 36px;
  }

  .catalog-card__image-second {
    width: 68px;
    height: 78px;
    margin: 24px 0 0 36px;
  }

  .catalog-card__button {
    padding: 10px 109px;
    margin-bottom: 4px;
  }

  .catalog-card__wrapper-inner {
    margin-bottom: -10px;
    row-gap: 0;
  }

  .catalog-card__wrapper {
    margin: 22px 15px 19px 15px;
  }

  .catalog-card__title {
    margin-top: -2px;
  }

  .catalog-card__image--big {
    margin: 8px 0 0 28px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-card__wrapper-inner {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin-bottom: 0;
  }

  .catalog-card {
    background: linear-gradient(to bottom, #ffffff 21%, #f2f2f2 10%);
    max-width: 324px;
    padding-bottom: 31px;
    margin-top: -4px;
  }

  .catalog-card__title {
    order: 2;
    min-width: 157px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 70px 0 70px;
  }

  .catalog-card__title--big {
    padding: 3px 70px 0 70px;
  }

  .catalog-card__title--second {
    padding: 11px 70px 0 70px;
  }

  .catalog-card__image {
    order: 1;
    margin: 57px 66px 0 66px;
  }

  .catalog-card__image--big {
    margin: 27px 20px 0 61px;
  }

  .catalog-card__table {
    order: 2;
    max-width: 250px;
    margin: -8px 12px 33px 22px;
  }
}

@media (min-width: @desctop-width) {
  .catalog-card {
    max-width: 245px;
    min-height: 511px;
  }

  .catalog-card__table {
    margin: -8px 12px 24px 25px;
  }

  .catalog-card__title {
    padding: 13px 31px 0 32px;
    line-height: 22px;
  }

  .catalog-card__title--second {
    padding: 19px 70px 0 31px;
  }

  .catalog-card__title--big {
    line-height: 20px;
  }

  .catalog-card__image {
    margin: 46px 0 0 28px;
  }

  .catalog-card__image--big {
    margin: 16px 0 0 27px;
    padding: 0;
  }

  .catalog-card__wrapper {
    margin: 13px 15px -19px 15px;
  }

  .catalog-card__wrapper-inner {
    row-gap: 25px;
  }
}
