.catalog {
  margin-bottom: 34px;
}

.catalog__wrapper {
  padding: 0 20px;
  margin-bottom: 20px;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 41px;
  margin-top: 27px;
  letter-spacing: -1px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: @mobile-width-only) {
  .catalog__item {
    border-top: 1px solid @decorate-color;
    border-bottom: 1px solid @decorate-color;
    gap: 60px;
  }

  .catalog__list {
    justify-content: center;
  }

  .catalog__wrapper {
    margin-bottom: 26px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: 51px;
  }

  .catalog__wrapper {
    padding: 0 30px;
    margin-bottom: 70px;
  }

  .catalog__list {
    gap: 60px;
    row-gap: 29px;
  }
}

@media (min-width: @desctop-width) {
  .catalog {
    padding: 0 80px 0 80px;
  }

  .catalog__list {
    gap: 80px;
    row-gap: 37px;
  }

  .catalog__title {
    margin: 0;
    margin-bottom: 55px;
  }

  .catalog__wrapper {
    margin-bottom: 74px;
  }
}
