.catalog-card__wrapper {
  margin: 19px 15px;
}

.catalog-card__title {
  color: @catalog-card-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 98px;
  margin: 0;
  font-weight: 400;
}

.catalog-card__wrapper-inner {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 41px;
  row-gap: 18px;
  margin-bottom: 13px;
}

.catalog-card__image {
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: @mobile-width-only) {
  .catalog-card__image {
    margin-left: 36px;
    margin-top: 25px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-card__wrapper-inner {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
  }

  .catalog-card {
    background: linear-gradient(to bottom, @base-color 10%, @focus-color 10%);
  }

  .catalog-card__title {
    order: 2;
    min-width: 130px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 70px 0 70px;
  }

  .catalog-card__image {
    order: 1;
    margin-left: 20px;
    padding: 0 78px;
  }

  .catalog-card__table {
    order: 2;
    max-width: 250px;
    margin: 0 19px 33px 19px;
  }
}
