.example__wrapper {
  background-color: @example-color;
  padding-bottom: 40px;
}

.example__wrapper-data {
  padding: 20px;
  padding-top: 25px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 41px;
  letter-spacing: -1px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 18px;
  margin-left: 5px;
}

.example__meaning {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-top: 7px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.example__list {
  display: flex;
  margin: 0;
  gap: 25px;
}

.example__legend {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 22px;
}

.example__image {
  width: 280px;
  height: 232px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.example__changes {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-bottom: 40px;
}

.example__item {
  border: 1px solid @border-color;
  border-radius: 5%;
}

.example__item-time {
  padding-left: 20px;
  padding-right: 20px;
}

// слайдер кота
.example__range-image {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

.example__range-image--before {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.example__range-image--after {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.example__range {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 280px;
  height: 256px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__range-toggle {
  position: absolute;
  content: "";
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #666666;
  z-index: 2;
}

.example__range-toggle:hover {
  background-color: @button-color;
}

.example__range-toggle:hover .example__range-button::before,
.example__range-toggle:hover .example__range-button::after {
  background-color: @button-color;
}

.example__range-toggle:hover .example__range-button {
  border-color: @button-color;
}

.example__range-toggle:active {
  opacity: 0.6;
}

.example__range-button {
  content: "";
  position: absolute;
  left: calc(50% - 22px);
  top: calc(50% - 22px);
  width: 40px;
  height: 40px;
  background-color: @base-color;
  border-radius: 50%;
  border: 2px solid #666666;
  z-index: 1;
}

.example__range-button::after {
  content: "";
  position: absolute;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #666666;
  width: 8px;
  height: 18px;
  top: 11px;
  left: 8px;
  transform: rotate(180deg);
}

.example__range-button::before {
  content: "";
  position: absolute;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #666666;
  width: 8px;
  height: 18px;
  top: 11px;
  right: 8px;
}


@media (min-width: @tablet-width) {
  .example__list-tablet {
    display: flex;
    gap: 42px;
    justify-content: space-between;
  }

  .example__wrapper {
    background: linear-gradient(@base-color 57%, @example-color 43%);
    padding-bottom: 99px;
  }

  .example__price {
    padding-left: 80px;
    padding-top: 5px;
    font-size: 20px;
  }

  .example__item-weight {
    padding-left: 6px;
    padding-right: 10px;
  }

  .example__item-time {
    padding-left: 0;
    padding-right: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 63px;
    margin-bottom: 54px;
  }

  .example__wrapper-data {
    padding: 43px 30px 30px 30px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
    margin: 13px;
    max-width: 139px;
  }

  .example__meaning {
    font-size: 14px;
    line-height: 14px;
    padding-left: 27px;
    background-color: @base-color;
  }

  .example__item-time .example__meaning {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
  }

  .example__legend {
    font-size: 20px;
    max-width: 174px;
    margin: 0;
    margin-top: 10px;
  }

  .example__changes {
    padding-bottom: 100px;
  }

  .example__range {
    margin-top: 67px;
  }

  .example__list {
    gap: 40px;
    max-height: 73px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desctop-width) {
  .example__wrapper-data {
    background-color: @base-color;
  }

  .example__description br {
    display: block;
  }
}

@media (max-width: @mobile-width-only) {
  .example__legend-wrapper {
    display: flex;
    margin-left: 46px;
  }

  .example__legend {
    margin-top: 20px;
  }

  .example__price {
    margin-top: 19px;
    margin-left: 5px;
  }

  .example__number {
    margin-left: 29px;
  }
}

@media (min-width: @desctop-width) {
  .example {
    background: linear-gradient(#ffffff 30%, #eaeaea 70%);
  }

  .example__wrapper {
    background-color: @base-color;
    position: relative;
  }

  .example__wrapper-data-desctop {
    background-color: @example-color;
  }

  .example__wrapper-data {
    padding: 0 110px;
  }

  .example__description {
    margin-top: 146px;
    margin-bottom: 54px;
    max-width: 436px;
  }

  .example__description br {
    display: none;
  }

  .example__legend {
    max-width: auto;
    display: flex;
    gap: 63px;
    margin-top: 30px;
    min-width: 236px;
  }

  .example__price {
    min-width: 149px;
    padding-left: 0;
    padding-top: 25px;
  }

  .example__list-tablet {
    flex-wrap: wrap;
    max-width: 390px;
    gap: 25px;
  }

  .example__range {
    position: absolute;
    bottom: 116px;
    right: 109px;
  }

  .example__number {
    margin-top: 31px;
  }

  .example__legend-wrapper {
    display: flex;
    margin-top: 20px;
  }
}

@media (min-width: @mobile-width-only) {
  .example__description br {
    display: none;
  }
}
