.extra-table__row {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.extra-table {
  margin: 0;
  margin-bottom: 13px;
}

.extra-table__data {
  color: @table-text-color;
}

@media (min-width: @tablet-width) {
  .extra-table__data {
    font-size: 16px;
    line-height: 1;
  }

  .extra-table__row {
    min-width: 133px;
  }

  .extra-table {
    margin-top: 7px;
  }

  .extra-table__price {
    margin-right: -7px;
    margin-top: -1px;
    min-width: 53px;
    text-align: right;
  }
}

@media (min-width: @desctop-width) {
  .extra-table__row {
    min-width: 286px;
  }

  .extra-table__price {
    margin-left: 111px;
    min-width: 42px;
    margin-right: -1px;
    text-align: left;
  }
}
