.extra {
  padding: 0 20px;
  position: relative;
  margin-bottom: 36px;
}

.extra__title {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 400;
}

.extra__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  right: 0;
  height: 2px;
  width: 53px;
  background-color: @button-color;
}

.extra__item .button--order {
  margin: 0;
}

.extra__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  color: @catalog-card-title;
}

.extra__item {
  border-bottom: 1px solid @decorate-color;
  border-top: 1px solid @decorate-color;
  padding: 13px 0 18px 0;
}

.extra__table {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.extra__list {
  margin: 19px 18px;
}

@media (min-width: @tablet-width) {
  .extra {
    padding: 0 30px;
    margin-bottom: 76px;
  }

  .extra__item {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    padding-bottom: 0;
  }

  .extra__item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .extra-list {
    display: grid;
    grid-template-columns: 708px;
    grid-template-rows: 139px 139px 139px 139px;
  }

  .extra__item-wrapper {
    display: grid;
    grid-template-columns: 407px 225px;
    grid-template-rows: 40px 40px;
    row-gap: 7px;
    padding: 11px 34px 26px 38px;
  }

  .extra__item-wrapper-part {
    display: flex;
    min-width: 623px;
    justify-content: space-between;
  }

  .extra__title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 80px;
    margin-left: 38px;
  }

  .extra__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: @button-color;
  }

  .extra__title::after {
    width: 328px;
    top: 21px;
  }
}

@media (min-width: @desctop-width) {
  .extra {
    margin-bottom: 87px;
  }

  .extra__title {
    margin-left: 0;
    margin-bottom: 82px;
  }

  .extra__title::before {
    width: 70px;
    top: 23px;
    left: -110px;
  }

  .extra__title::after {
    width: 954px;
    top: 24px;
    right: -108px;
  }

  .extra__wrapper {
    position: relative;
  }

  .extra__item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px 0;
    align-items: flex-start;
  }

  .extra__item-wrapper-part {
    display: flex;
    gap: 80px;
    min-width: 611px;
    padding-top: 9px;
  }

  .extra__list {
    width: 73%;
  }

  .extra__item {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 0;
  }

  .extra__item .button--order {
    margin: 0;
    min-width: 243px;
    margin-left: 40px;
  }
}
