.first-screen {
  background-image: linear-gradient(
    hsl(97 53% 47% / 85%),
    hsl(97 53% 47% / 85%)
  ),
    url("../img/index-background-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  max-height: 302px;
}

.first-screen__wrapper {
  padding: 27px 21px 27px 21px;
}

@media (min-width: @tablet-width) and (max-width: @desctop-width) {
  .first-screen {
    background-image: none;
  }
}

@media (min-width: @desctop-width) {
  .first-screen {
    background-size: 50%;
    background-position: right;
    min-width: 720px;
    max-height: 694px;
  }
}
