.first-screen__wrapper {
  padding: 27px 21px 0 21px;
}

@media (max-width: @mobile-width-only) {
  .first-screen::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
      url("../img/index-background-cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 302px;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
        url("../img/index-background-cat@2x.jpg");
    }
  }
}

@media (min-width: @tablet-width) and (max-width: (@desctop-width - 1)) {
  .first-screen__wrapper-part {
    padding-left: 94px;
  }

  .first-screen__wrapper {
    padding-top: 25px;
  }
}

@media (min-width: @tablet-width) {
  .first-screen {
    background-image: none;
    margin-bottom: 22px;
  }
}

@media (min-width: @desctop-width) {
  .first-screen {
    background-size: 50%;
    background-position: right;
    min-width: 720px;
    max-height: 694px;
    margin-bottom: 31px;
  }

  .first-screen__wrapper-part::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
      url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
        hsl(97 53% 47% / 85%),
        hsl(97 53% 47% / 85%)
      ),
        url("../img/index-background-desktop@2x.jpg");
    }
  }

  .first-screen__wrapper {
    padding: 0 110px;
    min-height: 556px;
  }

  .first-screen__wrapper-part {
    padding-left: 80px;
    padding-top: 32px;
  }
}
