.form {
  padding: 0 20px;
  margin-bottom: 32px;
  padding-top: 6px;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 36px;
  margin-top: 22px;
  letter-spacing: -1px;
}

.form__cat-programm-input {
  position: absolute;
  width: 72px;
  height: 57px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__cat-programm-label {
  position: relative;
  display: block;
  padding-top: 0;
  padding-bottom: 4px;
  padding-left: 43px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  user-select: none;
}

.form__cat-programm-label::before {
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  left: -2px;
  width: 14px;
  height: 14px;
  padding: 7px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__cat-programm-input:checked ~ .form__cat-programm-label::before {
  background-color: #68b738;
  background-clip: content-box;
}

.form__description {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-top: 37px;
  margin-bottom: 39px;
  max-width: 226px;
}

.form__cat-info {
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.form__cat-info-input {
  padding: 13px 13px 11px 13px;
  border: 1px solid #e7e7e7;
  font-family: "Oswald", "Arial", sans-serif;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
  }
}

.form__cat-info-input-number {
  padding: 11px 13px 11px 17px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.form__cat-info-input::placeholder {
  color: @table-text-color;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: inherit;
}

.form__cat-info-label {
  padding: 14px 0;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
  margin-right: 14px;
}

.form__cat-programm {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 22px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 36px;
  max-width: 187px;
  margin-left: -3px;
}

.form__legend::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: -20px;
  height: 2px;
  width: 99px;
  background-color: @button-color;
}

.form__more-info .form__legend::after {
  width: 155px;
  height: 1px;
}

.form__extra .form__legend::after {
  width: 135px;
}

.form__master-info {
  position: relative;
  margin: 27px 0 10px 0;
  border: none;
  padding: 0;
}

.form__master-info-wrapper-inner {
  position: relative;
}

.form__more-info {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.form__more-info-input {
  width: 100%;
  white-space: nowrap;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
  }
}

.form__more-info-input::placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @catalog-card-title;
  text-align: top;
  padding: 6px 11px 4px;
}

.form__cat-programm-wrapper-inner {
  display: flex;
  margin-bottom: 19px;
}

.form__cat-programm-wrapper-inner:last-child {
  margin-bottom: 0;
}

.form__master-info-wrapper-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.form__master-info-label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 10px 0 0;
  white-space: nowrap;
}

.form__master-info-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @catalog-card-title;
  text-align: top;
  padding: 13px 15px 12px;
  font-family: "Oswald", "Arial", sans-serif;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
  }
}

.form__master-info-input-icon {
  width: 18px;
  height: 25px;
  position: absolute;
  top: 36%;
  right: 16px;
}

.form__master-info-input-icon-phone {
  top: 27%;
}

.form__extra {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 17px;
}

.form__extra-item {
  margin-bottom: 22px;
  position: relative;
}

.form__extra-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__extra-label {
  padding-left: 44px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__extra-label::before {
  content: "";
  position: absolute;
  display: block;
  top: -3px;
  left: -3px;
  width: 23px;
  height: 23px;
  padding: 3px 3px 2px 3px;
  border: 1px solid #cdcdcd;

  &:hover {
    border-color: #bababa;
  }
}

.form__extra-input:checked ~ .form__extra-label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px auto;
  background-clip: content-box;
}

.form__cat-info-wrapper-inner {
  display: flex;
  margin-bottom: 13px;
  justify-content: space-between;
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0 37px 0 63px;
}

@media (min-width: @tablet-width) and (max-width: @desctop-width) {
  .form__extra {
    display: grid;
    grid-template-columns: 221px 221px;
    grid-template-rows: 40px 40px;
    column-gap: 123px;
    row-gap: 12px;
  }
}

@media (min-width: @tablet-width) {
  .form {
    padding: 0 59px 0 70px;
    margin-bottom: 54px;
  }

  .form__button-wrapper {
    display: flex;
    align-items: center;
  }

  .form__legend::after {
    top: 21px;
    right: -69px;
    height: 2px;
    width: 145px;
  }

  .form__master-info-input-email {
    padding: 13px 20px 12px;
  }

  .form__master-info-input-icon {
    right: 26px;
  }

  .form__more-info-input {
    padding: 2px;
    padding-left: 8px;
    width: 97%;
  }

  .form__legend::before {
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    left: -71px;
    height: 2px;
    width: 30px;
    background-color: @button-color;
  }

  .form__more-info .form__legend::after {
    width: 478px;
    height: 1px;
  }

  .form__extra .form__legend::after {
    width: 444px;
  }

  .form__cat-info-wrapper-inner {
    align-items: center;
  }

  .form__cat-info-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__cat-programm {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 25px;
    margin-left: 8px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
    margin-bottom: 57px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    max-width: 330px;
  }

  .form__cat-info-label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__cat-info-input {
    font-size: 20px;
    line-height: 30px;
    padding: 13px 13px 11px 20px;
    margin-top: 41px;
    min-height: 169px;
    padding: 9px 14px 11px 18px;
  }

  .form__cat-info-input-number {
    padding: 13px 13px 11px 24px;
  }

  .form__cat-programm-label {
    font-size: 20px;
    line-height: 30px;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 62px;
  }

  .form__master-info {
    margin: 71px 0 10px 0;
  }

  .form__master-info-label {
    font-size: 20px;
    line-height: 30px;
    padding: 14px 20px 0 0;
  }

  .form__cat-programm-label::before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 3px;
    width: 20px;
    height: 20px;
    padding: 8px;
  }

  .form__cat-info__wrapper-inner {
    margin-top: 27px;
    margin-left: 8px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
    max-width: 100%;
  }

  .form__cat-info {
    margin-bottom: 60px;
    margin-top: 65px;
    margin-left: 8px;
  }

  .form__master-info-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__master-info-wrapper {
    margin-top: 40px;
  }

  .form__more-info {
    margin-top: 49px;
    margin-bottom: 59px;
  }

  .form__more-info-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__extra {
    grid-template-rows: 60px 71px;
  }

  .form__extra-label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 57px;
  }

  .form__extra-legend {
    margin-bottom: 64px;
  }

  .form__extra-label::before {
    top: -5px;
    left: -3px;
    width: 32px;
    height: 32px;
    padding: 3px 4px 2px 3px;
  }

  .form__note {
    font-size: 16px;
    line-height: 16px;
    padding: 0 37px 0 59px;
    margin-top: -26px;
    margin-left: 3px;
  }
}

@media (min-width: @desctop-width) {
  .form__extra {
    display: grid;
    grid-template-columns: 221px 221px 221px 221px;
    grid-template-rows: 40px;
    column-gap: 104px;
    padding-bottom: 40px;
  }

  .form__master-info-input-icon {
    right: 21px;
  }

  .form {
    padding: 0 110px;
    margin-bottom: 63px;
  }

  .form__title {
    margin-bottom: 54px;
    margin-top: 0;
  }

  .form__cat-info {
    margin-bottom: 60px;
    margin-top: 22px;
    margin-left: 1px;
    width: 47%;
  }

  .form__cat-programm {
    margin-top: 26px;
    margin-bottom: 71px;
    width: 42%;
    padding-top: 28px;
  }

  .form__info-programm-wrapper {
    display: flex;
    flex-direction: row;
    gap: 67px;
  }

  .form__master-info-wrapper {
    display: flex;
  }

  .form__master-info {
    margin: -4px 0 10px 0;
  }

  .form__master-info-wrapper-inner {
    justify-content: flex-start;
    width: 47%;
  }

  .form__master-info-wrapper-inner:last-child {
    margin-left: 74px;
  }

  .form__legend::before {
    left: -111px;
    height: 2px;
    width: 70px;
  }

  .form__master-info .form__legend::after {
    right: -109px;
    height: 2px;
    width: 775px;
  }

  .form__more-info .form__legend::after {
    width: 1109px;
    right: -111px;
    height: 2px;
  }

  .form__extra .form__legend::after {
    width: 1078px;
    top: 26px;
    right: -111px;
    height: 2px;
  }

  .form__extra-item {
    margin-bottom: 0;
  }

  .form__note {
    padding: 0 37px 0 77px;
  }
}


