.form {
  padding: 0 70px;
}

.form__master-info-wrapper {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 36px;
}

.form__description {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 39px;
}

.form__cat-info {
  text-transform: uppercase;
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
}

.form__cat-info-input {
  padding: 14px;
  min-width: 148px;
}

.form__cat-programm {
  padding: 22px 20px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
}

.form__master-info {
  margin: 25px 0;
}

.form__master-info-label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-right: 20px;
}

.form__extra {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) and (max-width: @desctop-width) {
  .form__extra {
    display: grid;
    grid-template-columns: 221px 221px;
    grid-template-rows: 40px 40px;
    column-gap: 123px;
  }
}

@media (min-width: @desctop-width) {
  .form__extra {
    display: grid;
    grid-template-columns: 221px 221px 221px 221px;
    grid-template-rows: 40px;
    column-gap: 104px;
  }

  .form__info-programm-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.form__cat-programm-wrapper {
  display: flex;
  flex-direction: column;
}

.form__extra-label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0 81px;
}
