.gift-block {
  margin: 0 20px 25px 20px;
  background-image: linear-gradient(
    hsl(97 53% 47% / 85%),
    hsl(97 53% 47% / 85%)
  ),
    url("../img/gift-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  min-height: 290px;
}

.gift-block__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @base-color;
  margin-left: 57px;
  margin-right: 57px;
  text-align: center;
}

.gift-block::before {
  content: "";
  display: block;
  height: 169px;
  width: 320px;
  background-image: url(../img/gift.svg);
  background-position: 94px 50px;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .gift-block {
    min-height: 200px;
  }
}

@media (min-width: @desctop-width) {
  .gift-block {
    min-height: 289px;
    max-width: 246px;
  }
}

