.gift-block {
  margin: 0 20px 25px 20px;
  background-image: linear-gradient(
    hsl(97 53% 47% / 85%),
    hsl(97 53% 47% / 85%)
  ),
    url("../img/gift-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 280px;
  min-height: 290px;
}

.gift-block__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @base-color;
  margin-left: 57px;
  margin-right: 57px;
  text-align: center;
}

.gift-block::before {
  content: "";
  display: block;
  height: 169px;
  width: 320px;
  background-image: url("../img/gift.svg");
  background-position: 94px 50px;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .gift-block {
    min-height: 200px;
    margin: 0 30px 76px 30px;
    display: flex;
    background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
      url("../img/gift-cat-tablet.png");
  }

  .gift-block::before {
    background-position: 94px 60px;
    margin-right: 80px;
  }
}

@media (min-width: @tablet-width) and (max-width: (@desctop-width - 1)) {
  .gift-block__description {
    text-align: left;
    margin-top: 71px;
    max-width: 161px;
  }
}

@media (min-width: @desctop-width) {
  .gift-block {
    min-height: 289px;
    max-width: 246px;
    display: block;
    position: absolute;
    top: 111px;
    right: 62px;
    background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
      url("../img/gift-cat.jpg");
  }
}
