.main-footer-adress__title {
  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer-adress__wrapper {
  display: flex;
  padding: 26px 20px;
  gap: 20px;
}

.main-footer-adress__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
