.main-footer-adress__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 170px;
}

.main-footer-adress__wrapper {
  display: flex;
  padding: 34px 24px 34px 24px;
  column-gap: 20px;
  justify-content: space-between;
}

.main-footer-adress__wrapper--catalog {
  background-color: @focus-color;
}

.main-footer-adress__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  max-height: 40px;
}

.main-footer-adress-description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-footer-adress__map {
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: @tablet-width) {
  .main-footer-adress__wrapper {
    padding: 26px 70px;
  }

  .main-footer-adress__map {
    min-width: 768px;
    min-height: 400px;
  }

  .main-footer-adress__title {
    font-size: 20px;
    line-height: 26px;
  }

  .main-footer-adress__description {
    font-size: 16px;
  }
}


@media (min-width: @desctop-width) {
  .main-footer-adress__wrapper {
    display: none;
  }

  .main-footer-adress__map {
    min-width: 1440px;
    min-height: 400px;
  }
}

