.main-footer__logo-image {
  padding: 39px 96px;
}

.main-footer__ending {
  background-color: @focus-color;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .main-footer__ending {
  flex-direction: row;
  justify-content: space-between;
  }
}
