.main-footer-adress__title {
  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 170px;
}

.main-footer-adress__wrapper {
  display: flex;
  padding: 26px 20px;
  column-gap: 20px;
  justify-content: space-between;
}

.main-footer-adress__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  max-height: 40px;
}

.main-footer-adress-description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: @desctop-width) {
  .main-footer-adress__wrapper {
    display: none;
  }
}

/* не работает почему-то :( */
@media (min-width: @tablet-width) {
  .main-footer-adress__image {
    display: none;
  }

  .main-footer-adress__wrapper {
    padding: 26px 70px;
  }

  .main-footer-adress__image--tablet {
    background-image: url("../img/location-tablet.jpg");
    min-width: 768px;
    min-height: 400px;
  }
}
