.main-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @decorate-color;
}

.main-header__icon {
  min-width: 34px;
  min-height: 38px;
}

.main-header__logo {
  min-width: 101px;
  min-height: 51px;
  padding-top: 10px;
  position: relative;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__wrapper-head {
  display: flex;
  padding: 10px 0 0 20px;
}

@media (min-width: @tablet-width) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }

  .main-header__wrapper {
    gap: 20px;
    padding: 25px 30px;
  }
}

@media (max-width: @mobile-width-only) {
  .main-header__wrapper-head {
    width: 55%;
    justify-content: space-between;
  }
}

