.preview {
  margin-top: 177px;
}

.preview__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
}

.preview__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.preview__item {
  background-color: @focus-color;
  padding: 20px;
  margin: 20px;
}

@media (min-width: @tablet-width) {
  .preview__item {
    padding: 53px;
  }

  .preview__description {
    max-width: 340px;
  }
}

@media (min-width: @desctop-width) {
  .preview__list {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.preview__description {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin-bottom: 23px;
}

.preview__slim {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.preview__pro {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
