.site-list__item-link {
  text-decoration: none;
  color: @text-color;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.site-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid @decorate-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 440px;
    margin: 0 auto;
    gap: 34px;
  }
}

@media (min-width: @desctop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 680px;
    margin: 0 auto;
  }
}

.site-list__item {
  padding: 22px 0;
  text-align: center;
  border-bottom: 1px solid @decorate-color;
}

@media (max-width: @mobile-width-only) {
  .site-list__item-link {
    font-weight: 700;
  }
}
