.site-list__item-link {
  text-decoration: none;
  color: @text-color;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid @decorate-color;
}

.site-list__item {
  padding: 22px 0;
  text-align: center;
  border-bottom: 1px solid @decorate-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 440px;
    margin: 0 auto;
    gap: 34px;
    border-top: none;
  }

  .site-list__item-link {
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__item-link--current {
    border-bottom: 2px solid @button-color;
    padding-bottom: 10px;
  }

  .site-list__item {
    border: none;
  }
}



@media (min-width: @desctop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 680px;
    margin: 0 auto;
    }


  .site-list__item-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: @mobile-width-only) {
  .site-list__item-link {
    font-weight: 700;
  }
}
